extends default-layout

block content
	div(ng-app='coreModule')
		div(ng-view='')
	// Jquery
	script(src='assets/js/jquery-2.1.3.js')
	//Angular
	script(src='assets/js/angular.js')
	//Angular route
	script(src='assets/js/angular-route.js')
	// Angular locale
	script(src='assets/js/angular-locale_fr-ca.js')
	// Angular animate
	script(src='assets/js/angular-animate.js')
	// Moment
	script(src='assets/js/moment.js')
	// Humanize duration
	script(src='assets/js/humanize-duration.js')
	//Bootsrap ui
	script(src='assets/js/ui-bootstrap-tpls-0.12.1.js')
	// Validation module
	script(src='assets/js/validationModule.js')
	// Timer module
	script(src='assets/js/angular-timer.js')
	// Upload module
	script(src='assets/js/angular-file-upload.js')
	// Angular scroll
	script(src='assets/js/angular-scroll.js')
	// Angular app
	script(src='angularApp.js')
	// Models
	script(src='models/registration-service.js')
	// Controllers
	script(src='controllers/index-controller.js')
	script(src='controllers/registration-controller.js')