extends default-layout

block content
	div(ng-app='coreModule')
		div(ng-view='')
	// Angular
	script(src='assets/js/angular.js')
	//Angular route
	script(src='assets/js/angular-route.js')
	//Bootsrap ui
	script(src='assets/js/ui-bootstrap-0.12.1.js')
	// Angular app
	script(src='angularApp.js')
	// Models
	// Controllers
	script(src='controllers/index-controller.js')